[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyodbc = "*"
flask = "*"
flask-jsonpify = "*"
flask-restful = "*"
jwt = "*"
pyjwt = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.8"
