name: Backend LisMusic CI/CD

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  cd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Docker login
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: Build
        run: docker build -t writer-service ./deployment/writer_service/Dockerfile .
      - name: Tags
        run: |
          docker tag writer-service ${{ secrets.DOCKER_USER }}/writer-service:${{ github.sha }}
          docker tag writer-service ${{ secrets.DOCKER_USER }}/writer-service:latest
      - name: Push
        run: |
          docker push ${{ secrets.DOCKER_USER }}/writer-service:${{ github.sha }}
          docker push ${{ secrets.DOCKER_USER }}/writer-service:latest
